@using Microsoft.Extensions.Logging
@using Blazeroids.Core.Assets
@inject HttpClient Http
@inject ILogger<Assets> Logger
@inject IAssetsResolver AssetsResolver

<div class="assets" hidden>
    @foreach (var item in _items)
    {
        @_renderers[item.Item1.GetType()](item.Item1, item.Item2)
    }
</div>

@code{
    [Parameter]
    public string Source { get; set; }

    [Parameter]
    public EventCallback OnLoaded { get; set; }

    private readonly List<(IAsset asset, AssetMeta data)> _items = new ();

    private readonly Dictionary<Type, Func<IAsset, AssetMeta, RenderFragment>> _renderers = new Dictionary<Type, Func<IAsset, AssetMeta, RenderFragment>>()
    {
        {
            typeof(Sprite), (a, d) => {
                var sprite = a as Sprite;
                return @<img name="@sprite.ElementRef.Id" @ref="sprite.ElementRef" src="@sprite.ImagePath" hidden />;
            }
        },
        {
            typeof(SpriteSheet), (a, d) =>
            {
                var spriteSheet = a as SpriteSheet;
                
                return @<img name="@spriteSheet.ElementRef.Id" @ref="spriteSheet.ElementRef" src="@spriteSheet.ImagePath" hidden />;
            }
        },
        {
            typeof(AnimationCollection), (a, d) =>
            {
                var animColl = a as AnimationCollection;

                return @<Animations Source="@animColl" />;                 
            }
        }
    };

    protected override async Task OnInitializedAsync()
    {
        var items = await Http.GetFromJsonAsync<AssetMeta[]>(this.Source);

        foreach (var item in items)
        {
            IAsset asset = null;
            if (item.Type == "sprite")
                asset = await this.AssetsResolver.Load<Sprite>(item);
            else if (item.Type == "spritesheet")
                asset = await this.AssetsResolver.Load<SpriteSheet>(item);
            else if (item.Type == "animations")
                asset = await this.AssetsResolver.Load<AnimationCollection>(item);

            if (null != asset)
                _items.Add(new (asset, item));
        }

        await this.OnLoaded.InvokeAsync(this);
    }
}